
/** Buttons */
// Button color should be our button orange.

.btn-primary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
    color: $white !important;
    margin: .25rem;
}

.btn-outline-primary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}

.btn-secondary {
    @include button-variant($primary-dark-blue, $primary-light-blue, darken($primary-light-blue, 7.5%), lighten($primary-dark-blue,5%), lighten($primary-dark-blue, 10%), darken($primary-dark-blue,30%));
    color: $white !important;
    margin: .25rem;
}

.btn-outline-secondary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}

// Button primary and secondary text should always be white.
// Sometimes it was showing up as the secondary color.
.btn .btn-primary, .btn .btn-secondary {
    color: $white !default;
    margin: .25rem;
}

.btn-primary:focus, .btn-primary.focus {
  outline: inherit;
}

.btn-secondary:focus, .btn-secondary.focus {
  outline: inherit;
}


/*
// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}
*/

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);

// Enroll button
#enroll-button-container {
   font-size: 1.1em;
   text-align: center;
   padding-bottom: 5px;
}

/** Book Navigation */
// Change the book navigation arrows to have buttons and text.
// This is definitely a hack since we can't override any functions, renderers,
// or mustache templates in /mod/book/view.php.

.booknext {
  @extend .btn, .btn-secondary, .btn-sm;
}
.booknext::before {
  content: "Next Page ";
}

.bookprev {
  @extend .btn, .btn-secondary, .btn-sm;
}
.bookprev::after {
  content: "Previous Page ";
}
