/** Profile Page */

.userprofile .profile_tree a[href*="/mod/forum"] {
 display: none;
}

// Hide optional fields/categories in profile and registration
div#fitem_id_city {
 display: none;
}

div#fitem_id_country {
 display: none;
}

fieldset#id_category_0 {
 display: none;
}

fieldset#id_moodle_optional {
 display: none;
}

fieldset#id_moodle_additional_names {
 display: none;
}
