/** Quiz **/

.path-mod-quiz #mod_quiz_navblock {
   .qnbutton {
     color: $primary;
 }
}

.que .info {
 background-color: $light;
 border-color: $card-border-color;
}

.que .content .formulation {
 background-color: $card-bg;
 border: 1px solid $card-border-color;
 border-radius: 2px;
 color: $body-color;
}

.editor_atto_content_wrap {
      border: 1px solid #333;
  }

// student response area grading background change
.que.essay .content .formulation .ablock .answer .qtype_essay_editor.qtype_essay_response.readonly{
   background-color: $expand-pink-100;
   border-radius: .25rem;
   padding: .25rem;
}

// Quiz Start attempt padding
#id_honestycheckheader {
    margin-left: auto;
    margin-right:10px;
    legend.ftoggler {
      padding: 0 1rem !important;
    }
}

#fgroup_id_buttonar {
  padding-bottom: 10px !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
  padding-top: .5rem;
}

.qnbutton .trafficlight {
    margin-top: 30px !important;
}
