{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="mod_solo_rec_outer">

<div class="solo_audiorec_cont"
     id="{{rec.widgetid}}"
     data-id="{{rec.id}}"
     data-parent="{{rec.parent}}"
     data-localloading="{{rec.localloading}}"
     data-localloader="{{rec.localloader}}"
     data-media="{{rec.recordertype}}"
     data-appid="{{rec.appid}}"
     data-owner="{{rec.owner}}"
     data-type="{{rec.recorderskin}}"
     data-width="{{rec.width}}"
     data-height="{{rec.height}}"
     data-iframeclass="{{rec.iframeclass}}"
     data-updatecontrol="{{rec.updatecontrol}}"
     data-timelimit="{{rec.timelimit}}"
     data-transcode="{{rec.transcode}}"
     data-transcribe="{{rec.transcribe}}"
     data-subtitle="{{rec.subtitle}}"
     data-language="{{rec.language}}"
     data-expiredays="{{rec.expiredays}}"
     data-region="{{rec.region}}"
     data-fallback="{{rec.fallback}}"
     data-hints="{{rec.hints}}"
     data-token="{{rec.token}}">

</div>
</div>
{{^element.frozen}}
    {{#js}}
        //this inits the M.mod_solo recoorder controller, after the page has loaded.
        //we put the opts in a hidden html on the page, that is later parsed in JS, because moodle/AMD doesn't like lots of opts in js
        var recopts ={};
        recopts.widgetid='{{rec.widgetid}}';
        recopts.recorderid='{{rec.widgetid}}';
        recopts.transcriber='{{rec.transcriber}}';
        recopts.language='{{rec.ttslanguage}}';
        recopts.region= '{{rec.region}}';
        recopts.token='{{rec.token}}';
        recopts.parent='{{rec.parent}}';
        recopts.owner='{{rec.owner}}';
        recopts.localposturl='{{rec.localposturl}}';
        recopts.appid='{{rec.appid}}';
        recopts.expiretime='{{rec.expiretime}}';
        recopts.cmid='{{rec.cmid}}';

        require(['jquery', 'core/modal_factory', 'core/ajax','core/templates', 'mod_solo/recordercontroller'],
        function($, ModalFactory, ajax, templates, recordercontroller) {
            recordercontroller.init(recopts);
        });
    {{/js}}
{{/element.frozen}}
