
<div class="btn-group btn-group-toggle flex-wrap fonttogglegroup mod_solo_togglebuttongroup" data-toggle="buttons">
{{#radios}}
<label data-id="{{value}}" data-name="{{name}}" class="btn btn-secondary fonttoggleitem m-1"><input type="radio" name="{{name}}-dummyradio">
    <span>{{topicname}}</span><br/><i class="fa {{fontcode}} fa-2x"></i></label>
{{/radios}}
</div>

