<div class='mod_solo_openclosedates'>
        {{#opendate}}<div><strong>{{#str}}open , mod_solo{{/str}}</strong>{{#userdate}}{{opendate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</div>{{/opendate}}
        {{#closedate}}<div><strong>{{#str}}until, mod_solo{{/str}}</strong>{{#userdate}}{{closedate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</div>{{/closedate}}
</div>