<div class='mod_solo_transcriptstats'>
    <table class="table">
      <tbody>
      <tr>
          <td>{{#str}}stats_words, mod_solo{{/str}}</td>
          <td>{{#str}}stats_uniquewords, mod_solo{{/str}}</td>
          <td>{{#str}}stats_longwords, mod_solo{{/str}}</td>
          <td>{{#str}}stats_turns, mod_solo{{/str}}</td>
          <td>{{#str}}stats_avturn, mod_solo{{/str}}</td>
          <td>{{#str}}stats_longestturn, mod_solo{{/str}}</td>
          <!-- <td>{{#str}}stats_autospellscore, mod_solo{{/str}}</td> -->
          <!-- <td>{{#str}}stats_autogrammarscore, mod_solo{{/str}}</td> -->
          <td>{{#str}}stats_targetwords, mod_solo{{/str}}</td>
          <td>{{#str}}stats_aiaccuracy, mod_solo{{/str}}</td>
      </tr>
      <tr>
          <td>{{words}}</td>
          <td>{{uniquewords}}</td>
          <td>{{longwords}}</td>
          <td>{{turns}}</td>
          <td>{{avturn}}</td>
          <td>{{longestturn}}</td>
          <!-- <td>{{autospellscore}}%</td> -->
          <!-- <td>{{autogrammarscore}}%</td> -->
          <td>{{targetwords}}/{{totaltargetwords}}</td>
          <td>{{aiaccuracy}}%</td>
      </tr>
      </tbody>
    </table>
</div>