<div class='mod_solo_summaryresults'>
    <div class='mod_solo_sr_left'>
        <div class='mod_solo_sr_title'>{{#str}}selftranscript, mod_solo{{/str}}</div>
        {{>mod_solo/audioplayer}}
        <div class='mod_solo_ct_body'>{{{markedpassage}}}</div>
    </div>
    <div class='mod_solo_sr_right'>
        <div class='mod_solo_sr_title'>{{#str}}stats, mod_solo{{/str}}</div>
        <div class='mod_solo_sr_body'>{{{stats}}}</div>
    </div>
</div>