
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="container">


    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="solo_stepinstructions">
                {{^prerecording}}
                    {{#str}}step_selftranscribeinstructions, mod_solo{{/str}}
                {{/prerecording}}
                {{#prerecording}}
                    {{#str}}step_prerecord_transcribeinstructions, mod_solo{{/str}}
                {{/prerecording}}
            </div>
        </div>
    </div>


    {{#prerecording}}
        {{>mod_solo/stepprompt}}
    {{/prerecording}}

    <div class="row">
        <div class="col-sm">
            <div class='mod_solo_transcripteditor'>
                {{#audiofilename}}
                    {{>mod_solo/audioplayer}}
                    <div class='mod_solo_maybereloadaudio'>{{#str}}toggleplayinstructions, mod_solo{{/str}}</div>
                {{/audiofilename}}
                {{^audiofilename}}
                    <div class='mod_solo_maybereloadaudio'>{{#str}}prerecordtranscriptinstructions, mod_solo{{/str}}</div>
                {{/audiofilename}}
                <textarea name="selftranscript" id="{{uniqid}}_selftranscript" class="form-control" rows="5" cols="80">{{selftranscript}}</textarea>
            </div>
        </div>
    </div>

    {{#prerecording}}
        <div class="row">
            <div class="col-sm">
                {{>mod_solo/grammarsuggestions}}
            </div>
        </div>
    {{/prerecording}}

    <div class="row">
        <div class="col-sm-6 mx-auto mod_solo_stepsubmit">
            <button class="btn btn-primary btn-lg" id="{{uniqid}}_button" type="button">Submit</button>
        </div>
    </div>

</div>
{{^element.frozen}}
    {{#js}}
        //<script>
        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {

                //this submits the form data by ajax
                $('#' + '{{uniqid}}_button').click(function(){
                    var data = {};
                    data.selftranscript = $('#' + '{{uniqid}}_selftranscript').val();
                    //lets not let people leave the page with an empty transcript
                    if(data.selftranscript.trim()===''){
                        Notification.alert('{{#str}}important, mod_solo{{/str}}',"{{#str}}noemptyselftranscript, mod_solo{{/str}}");
                        return false;
                    }

                    data.attemptid ={{attemptid}};
                    data.activitytype = 3; // {{type}}
                    var cmid={{cmid}};
                    var id={{id}};
                    var step={{stepno}};
                    var action = 'submitstep';

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: Notification.exception,
                   }]);

                });

                //this stops or starts the  audio player by pressing the ESC key
                $(document).on('keyup', function(e) {
                    if (e.key == "Escape"){
                       var aplayer = $('#mod_solo_passageaudioplayer')[0];
                       aplayer.paused ? aplayer.play() : aplayer.pause();
                    }
                });


            }
        );
    {{/js}}
{{/element.frozen}}