
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="container">

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="solo_stepinstructions">
                {{#str}}step_mediarecordinstructions, mod_solo{{/str}}
            </div>
        </div>
    </div>

    <div class="row">
        {{>mod_solo/snippetgoals}}
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    {{#str}}speakingtopic, mod_solo{{/str}}
                </div>
                <div class="card-body">
                    <div class="mod_solo_speakingtopic_readonly">
                        {{speakingtopic}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mx-auto">
            <input type="hidden" id="{{rec.widgetid}}_filename"/>
            {{#recordvideo}}
                <div class="mod_solo_audiorec_heading">{{#str}}audiorec_heading, mod_solo{{/str}}</div>
                {{>mod_solo/videorecordercontainer}}
            {{/recordvideo}}
            {{#recordaudio}}
                <div class="mod_solo_audiorec_heading">{{#str}}audiorec_heading, mod_solo{{/str}}</div>
                {{>mod_solo/audiorecordercontainer}}
            {{/recordaudio}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mx-auto mod_solo_stepsubmit">
            <!-- upload warning -->
            <div class="mod_solo_uploadwarning" style="display: none">
                {{#str}}uploading, mod_solo{{/str}}<br>
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            <button class="btn btn-primary btn-lg mod_solo_step2_btn" id="{{uniqid}}_button" type="button">Submit</button>
        </div>
    </div>
</div>
{{^element.frozen}}
    {{#js}}
        //this submits the form data by ajax

        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {
                $('#' + '{{uniqid}}_button').click(function(){
                    var data = {};
                    data.filename = $('#' + '{{rec.widgetid}}_filename').val();
                    data.attemptid ={{attemptid}};
                    data.activitytype = 2; // {{type}}
                    var cmid={{rec.cmid}};
                    var id={{id}};
                    var step=2;
                    var action = 'submitstep';

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: Notification.exception,
                   }]);

                });
            }
        );
    {{/js}}
{{/element.frozen}}