
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="container">

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="solo_stepinstructions">
                {{#str}}step_prepareinstructions, mod_solo{{/str}}
            </div>
        </div>
    </div>

    <div class="row">
        {{>mod_solo/snippetgoals}}
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    {{#str}}speakingtopic, mod_solo{{/str}}
                </div>
                <div class="card-body">
                    <div class="mod_solo_speakingtopic_readonly">
                        {{speakingtopic}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="mod_solo_activitycontent_container">
                {{#contentitems}}
                    {{>mod_solo/activitycontent}}
                {{/contentitems}}
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6 mx-auto mod_solo_stepsubmit">
            <button class="btn btn-primary btn-lg" id="{{uniqid}}_button" type="button">{{#str}}next{{/str}}</button>
        </div>
    </div>

</div>

{{^element.frozen}}
    {{#js}}
        //this submits the form data by ajax
        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {
                $('#' + '{{uniqid}}_button').click(function(){
                    var data = {};
                    data.attemptid ={{attemptid}};
                    data.activitytype = 1; // {{type}}
                    var cmid={{cmid}};
                    var id={{id}};
                    var step={{stepno}};
                    var action = 'submitstep';

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: Notification.exception,
                   }]);

                });
            }
        );
    {{/js}}
{{/element.frozen}}