
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="solo_steptitle">
    {{#str}}step_mediarecordtitle, mod_solo{{/str}}
</div>
<div class="solo_stepinstructions">
    {{#str}}step_mediarecordinstructions, mod_solo{{/str}}
</div>
<div class="mod_solo_speakingtopic_readonly">
    {{#str}}speakingtopic, mod_solo{{/str}}:{{speakingtopic}}
</div>
<div class="mod_solo_bordered mod_solo_readonly">
    {{#str}}targettime, mod_solo{{/str}}: {{#str}}xmins, mod_solo, {{convlength}}{{/str}}
</div>
<div id="mod_solo_targetwordsdisplay" class="solo_targetwords">
    {{#str}}targetwords, mod_solo{{/str}}: {{>mod_solo/targetwords}}
</div>
<div class="solo_goals">
    {{#str}}gradewordgoal, mod_solo{{/str}}: {{#str}}displaygradewordgoal, mod_solo, {{gradewordgoal}}{{/str}}
</div>



<input type="hidden" id="{{rec.widgetid}}_filename"/>
{{#recordvideo}}{{>mod_solo/videorecordercontainer}}{{/recordvideo}}
{{#recordaudio}}{{>mod_solo/audiorecordercontainer}}{{/recordaudio}}

<!-- upload warning -->
<div class="mod_solo_uploadwarning" style="display: none">' .
    {{#str}}uploading, mod_solo{{/str}}<br>
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<button id="{{uniqid}}_button" type="button">Submit</button>
{{^element.frozen}}
    {{#js}}
        //this submits the form data by ajax

        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {
                $('#' + '{{uniqid}}_button').click(function(){
                    var data = {};
                    data.filename = $('#' + '{{rec.widgetid}}_filename').val();
                    data.attemptid ={{attemptid}};
                    data.activitytype = 2; // {{type}}
                    var cmid={{rec.cmid}};
                    var id={{id}};
                    var step=2;
                    var action = 'submitstep';

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: Notification.exception,
                   }]);

                });
            }
        );
    {{/js}}
{{/element.frozen}}