<input type="hidden" name="id" id="{{uniqid}}_id" value="{{id}}"/>
<input type="hidden" name="attemptid" id="{{uniqid}}_attemptid" value="{{attemptid}}"/>
<input type="hidden" name="visible" id="{{uniqid}}_visible" value="1"/>
<input type="hidden" name="type" id="{{uniqid}}_type" value="{{type}}"/>
