<div class='mod_solo_ct_body'>
    <div class='mod_solo_summarystats'>
        <table class="table">
          <tbody>

          <tr> <td>{{#str}}stats_words, mod_solo{{/str}}</td><td>{{s.words}}</td> </tr>
          <tr> <td>{{#str}}stats_uniquewords, mod_solo{{/str}}</td><td>{{s.uniquewords}}</td> </tr>
          <tr> <td>{{#str}}stats_longwords, mod_solo{{/str}}</td><td>{{s.longwords}}</td> </tr>
          <tr><td>{{#str}}stats_turns, mod_solo{{/str}}</td><td>{{s.turns}}</td></tr>
          <tr><td>{{#str}}stats_avturn, mod_solo{{/str}}</td><td>{{s.avturn}}</td></tr>
          <tr><td>{{#str}}stats_longestturn, mod_solo{{/str}}</td><td>{{s.longestturn}}</td></tr>
          <!-- <tr><td>{{#str}}stats_autogrammarscore, mod_solo{{/str}}</td><td>{{s.autogrammarscore}}%</td></tr> -->
          <!-- <tr><td>{{#str}}stats_autospellscore, mod_solo{{/str}}</td><td>{{s.autospellscore}}%</td></tr> -->
          <tr> <td>{{#str}}stats_targetwords, mod_solo{{/str}}</td><td>{{s.targetwords}}/{{s.totaltargetwords}}</td></tr>
          {{#selftranscribe}}
            <tr><td>{{#str}}stats_aiaccuracy, mod_solo{{/str}}</td><td>{{s.aiaccuracy}}%</td></tr>
          {{/selftranscribe}}
          </tbody>
        </table>
    </div>
</div>