<div class="mod_solo_summaryheader">
    <div class="summaryheadertitle">
        {{#str}}summaryuserattemptheadertitle, mod_solo, {{id}}{{/str}}
   </div>
    <div class="summaryheaderintro">
        {{#str}}summaryuserattemptheaderintro, mod_solo{{/str}}
    </div>
</div>