<div class="mod_solo_summaryheader">
    <div class="summaryheadertitle">
        {{#str}}summaryheadertitle, mod_solo{{/str}}
   </div>
    <div class="summaryheaderintro">
        {{#str}}summaryheaderintro, mod_solo{{/str}}
    </div>
</div>