
<div class='mod_solo_sr_right'>
    <div class='mod_solo_sr_title'>{{#str}}myreports, mod_solo{{/str}}</div>
    <div class='mod_solo_ct_body'>
        <div class='mod_solo_myreports'>{{{reportbuttons}}}</div>
    </div>
</div>