
<div class="btn-group btn-group-toggle flex-wrap usertogglegroup mod_solo_togglebuttongroup" data-toggle="buttons">
{{#checks}}
<label data-id="{{value}}" data-name="{{name}}" class="btn btn-secondary usertoggleitem m-1"><input type="checkbox" name="{{name}}-dummycheckbox">
    <span>{{username}}</span><br/><img src="{{userpic}}"></label>
{{/checks}}
</div>
