{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="assignsubmission_cloudpoodll_rec_outer">

<div class="assignsubmission_cloudpoodll_videorec_cont"
     id="{{recid}}"
     data-id="{{dataid}}"
     data-parent="{{parent}}"
     data-localloader="{{localloader}}"
     data-media="{{recordertype}}"
     data-appid="{{appid}}"
     data-owner="{{owner}}"
     data-type="{{recorderskin}}"
     data-width="{{width}}"
     data-height="{{height}}"
     data-iframeclass="{{iframeclass}}"
     data-updatecontrol="{{updatecontrol}}"
     data-timelimit="{{timelimit}}"
     data-transcode="{{transcode}}"
     data-transcribe="{{transcribe}}"
     data-subtitle="{{subtitle}}"
     data-language="{{language}}"
     data-expiredays="{{expiredays}}"
     data-region="{{awsregion}}"
     data-fallback="{{fallback}}"
data-hints="{{string_hints}}" data-token="{{token}}">
    <div class="assignsubmission_cloudpoodll_placeholder assignsubmission_cloudpoodll_placeholder_video"></div>
</div>
</div>
