{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/email_html

    Template for all html emails. Note that it may wrap content formatted
    elsewhere in another a module template.

    Context variables required for this template:
    * sitefullname
    * siteshortname
    * sitewwwroot
    * subject
    * to
    * toname
    * touserid
    * tousername
    * from
    * fromname
    * replyto
    * replytoname
    * body

    Example context (json):
    {
        "body": "Email body"
    }
}}
<table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td height="100%" valign="top">
      <div style="height: 50px;width: 100%;"><a href="https://www.saylor.org"><img class="max-width" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;margin:auto;" data-proportionally-constrained="true" width="206" height="52" src="https://resources.saylor.org/logos/logo_dark_large.png" alt="Saylor Academy"></a></div>
    </td>
  </tr>
</table>
<table class="module"
       role="module"
       data-type="divider"
       border="0"
       cellpadding="0"
       cellspacing="0"
       width="100%"
       style="table-layout: fixed;">
  <tr>
    <td style="padding:0px 0px 0px 0px;"
        role="module-content"
        height="100%"
        valign="top"
        bgcolor="">
      <table border="0"
             cellpadding="0"
             cellspacing="0"
             align="center"
             width="100%"
             height="3px"
             style="line-height:3px; font-size:3px;">
        <tr>
          <td
            style="padding: 0px 0px 3px 0px;"
            bgcolor="#469dcd"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<body style="margin-top:1rem;font-family:'Open Sans',sans-serif;">
{{{body}}}
</body>
<footer style="margin-top: 24px;">
<table class="module"
       role="module"
       data-type="divider"
       border="0"
       cellpadding="0"
       cellspacing="0"
       width="100%"
       height="48px"
       bgcolor="#469dcd"
       style="table-layout: fixed;font-size:12px; height: 48px;">
  <tr>
    <td height="100%" valign="center" align="center">
      
      <div style="display:inline-block;height: 48px;"><a href="https://www.saylor.org"><img class="max-width" border="0" style="display:inline-block; margin: 0 16px 0 4px;padding-top: 9px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/sa_footer_email.png" target="_blank" rel="noopener noreferrer" title="Saylor Academy" alt="Saylor Academy"></a></div>
      <div style="display:inline-block;height: 48px;"><a href="https://www.facebook.com/SaylorAcademy"><img class="max-width" border="0" style="display:inline-block; padding-top: 9px; margin: 0 4px 0 4px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/facebook_footer_email.png" target="_blank" rel="noopener noreferrer" title="Facebook | /SaylorAcademy" alt="Facebook"></a></div>
      <div style="display:inline-block;height: 48px;"><a href="https://twitter.com/saylordotorg"><img class="max-width" border="0" style="display:inline-block; padding-top: 9px; margin: 0 4px 0 4px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/twitter_footer_email.png" target="_blank" rel="noopener noreferrer" title="Twitter | @saylordotorg" alt="Twitter"></a></div>
      <div style="display:inline-block;height: 48px;"><a href="https://www.instagram.com/saylordotorg"><img class="max-width" border="0" style="display:inline-block; padding-top: 9px; margin: 0 4px 0 4px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/instagram_footer_email.png" target="_blank" rel="noopener noreferrer" title="Instagram | @saylordotorg" alt="Instagram"></a></div>
      <div style="display:inline-block;height: 48px;"><a href="https://github.com/saylordotorg"><img class="max-width" border="0" style="display:inline-block; padding-top: 9px; margin: 0 4px 0 4px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/github_footer_email.png" target="_blank" rel="noopener noreferrer" title="GitHub | /saylordotorg" alt="GitHub"></a></div>
      <div style="display:inline-block;height: 48px;"><a href="https://www.linkedin.com/school/1229385/"><img class="max-width" border="0" style="display:inline-block; padding-top: 9px; margin: 0 4px 0 4px;" data-proportionally-constrained="true" height="30" src="https://resources.saylor.org/logos/linkedin_footer_email.png" target="_blank" rel="noopener noreferrer" title="LinkedIn | Saylor Academy" alt="LinkedIn"></a></div>
    </td>
  </tr>
</table>
<div style="">
  <div style="max-width:300px; margin:auto; font-size:8px;"><p>This is an automated message, please do not reply!</p><p>You are receiving this email because of your recent activity. Your email notification preferences can be updated <a href="https://learn.saylor.org/message/notificationpreferences.php" title="Notification Preferences" alt="Notification Preferences">here</a>.</p></div>
</div>

</footer>
