{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> /head }}

<body {{{ bodyattributes }}} onload="PR.prettyPrint()">

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
    {{> /navbar }}

    <div id="page" class="container-fluid">

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12 d-flex flex-column flex-lg-row">
                <section id="region-center">
                {{#hastopblocks}}
                <section id="region-top" data-region="blocks-row" class="d-print-none mt-3">
                    {{{ topblocks }}}
                </section>
                {{/hastopblocks}}
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" class="{{#hasblocks}}has-blocks {{/hasblocks}}my-3 card">
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}

                    <!--
                    <div id="banner-wrapper" class="container-fluid p-0 d-flex align-items-center rounded">
                        <div id="banner-summary-container" class="mx-auto my-4 mdl-align text-white">
                            <h2>{{ sitesummary }}</h2>
                        </div>
                    </div>
                  -->

                    <div class="container-fluid container-alert">
                                {{#enable1alert}}
                                    <div class="useralerts alert alert-{{{ alert1type }}} alert-dismissible fade show" role="alert">
                                        <span class="title">
                                            <b> {{{ alert1title }}} </b>
                                        </span>
                                        <p> {{{ alert1text }}} </p>
                                        <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                                            <span aria-hidden="true" class="fa fa-times-circle"></span>
                                        </button>
                                    </div>
                                {{/enable1alert}}
                                {{#enable2alert}}
                                    <div class="useralerts alert alert-{{{ alert2type }}} alert-dismissible fade show" role="alert">
                                        <span class="title">
                                            <b> {{{ alert2title }}} </b>
                                        </span>
                                        <p> {{{ alert2text }}} </p>
                                        <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                                            <span aria-hidden="true" class="fa fa-times-circle"></span>
                                        </button>
                                    </div>
                                {{/enable2alert}}
                                {{#enable3alert}}
                                    <div class="useralerts alert alert-{{{ alert3type }}} alert-dismissible fade show" role="alert">
                                        <span class="title">
                                            <b> {{{ alert3title }}} </b>
                                        </span>
                                        <p> {{{ alert3text }}} </p>
                                        <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                                            <span aria-hidden="true" class="fa fa-times-circle"></span>
                                        </button>
                                    </div>
                                {{/enable3alert}}
                    </div>

                    {{#hastopintblocks}}
                    <section id="region-top-interior" class="d-print-none px-3 my-2">
                        {{{ topintblocks }}}
                    </section>
                    {{/hastopintblocks}}

                    {{{ output.main_content }}}

                    {{{ output.course_content_footer }}}
                </section>
                </section>
                {{#hassideblocks}}
                <section data-region="blocks-column" class="d-print-none mt-3 px-3">
                    {{{ sidepreblocks }}}
                </section>
                {{/hassideblocks}}
            </div>
        </div>
    </div>
    {{> /nav-drawer }}
</div>

{{> /footer }}

</body>
</html>
{{#js}}
M.util.js_pending('theme_saylor/loader');
require(['theme_saylor/loader'], function() {
    M.util.js_complete('theme_saylor/loader');
});

M.util.js_pending('theme_saylor/drawer');
require(['theme_saylor/drawer'], function(drawer) {
    drawer.init();
    M.util.js_complete('theme_saylor/drawer');
});
{{/js}}
