 // https://docs.moodle.org/dev/Creating_a_theme_based_on_boost#Why_do_we_use_pre_and_post_SCSS.3F
// Post SCSS for the theme.

.content .sectionname {
	margin-top: .5rem;
}

// Reduce the spacing between the userpicture and the caret.
.navbar-nav .avatars img.userpicture {
    margin-right: -.5rem;
    margin-left: .5vw;
}

/** Nav Drawer */
#nav-drawer {
	border-right: $card-border-width solid $card-border-color;
}
// Hide the Participants node
#nav-drawer a[data-key="participants"] {
	display: none;
}
// Hide the Grades node
#nav-drawer a[data-key="grades"] {
	display: none;
}

/** Nav Bar */
.navbar {
    box-shadow: 0 3px 0 $primary;
}

#navbar-login {
	box-shadow: 0 0;
	margin-bottom: 1rem;
}

.navbar .btn {
	background-color: $gray-200;
	border-color: $gray-200;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar .btn-secondary:not(.disabled):active:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar .nav-link .fa-bars {
	color: $dark;
}

// Change height, margin and padding of navbar logo.
.navbar-brand .logo .icon {
    height: auto;
    width: 100%;
    max-width: 206px;
    max-height: 45px;
}

.navbar-brand .logo {
	height: $navbar-height;
	width: 100%;
}

#navbar-brand {
	height: $navbar-height;
	max-width: 206px;
	width: 100%;
	padding-right: 4px;
}


.navbar-nav li.usermenu {
	line-height: 1;
	margin-right: -.5rem;
}

.navbar-nav .usermenu .login {
    line-height: 1rem;
}

#page-login-index #page-wrapper {
	background-image: url([[pix:theme_saylor|login_background_ocean]]);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

// Login Page
.login-container {
	color: $white;
	margin-top: 5vw;
}

.login-container .forgetpass a {
	color: $primary-orange;
}

.email-login {
	margin-bottom: 2rem;
}

.signup .btn {
	width: 15rem;
}

.identityproviders {
	margin-top: 2rem;
}

.potentialidp a {
	width: 10rem;
	margin-top: .5rem;
}

// Enroll button
#enroll-button-container {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 5px;
}

/** Course Catalog */

.coursebox .content .summary {
	width: 100%;
	padding-left: .5rem;
	margin: 0;
}

.coursebox .content .summary p {
	margin: 0;
}

.coursebox .enrolmenticons {
	display: none;
}

.coursebox .info .coursename a {
	background-image: none;
	padding-left: 0;
}

.coursebox .moreinfo {
	float: none;
	padding-top: 6px;
}

/** Footer */
#page-footer a {
	text-decoration: none;
}

#page-footer .footer-logo .icon {
	width: auto;
	height: 30px;
}

#footer-logo-share-bottom .footer-logo .icon {
	width: auto;
    height: 40px;
}

#footer-links h4 {
	margin: 0;
}

#footer-ccby-logo .icon {
	width: 80px;
	height: auto;
}

/** Honesty Check */

#id_honestycheckheader .fcontainer .form-group .form-inline {
	max-width: 100% !important;
	flex: 0 0 auto !important;
}

/** Quiz **/

.path-mod-quiz #mod_quiz_navblock {
    .qnbutton {
	    color: $primary;
	}
}

.que .info {
	background-color: $light;
	border-color: $card-border-color;
}

.que .content .formulation {
	background-color: $card-bg;
	border: 1px solid $card-border-color;
	border-radius: 2px;
	color: $body-color;
}

/** Profile Page */

.userprofile .profile_tree a[href*="/mod/forum"] {
	display: none;
}

/** Front Page */

// Hide combo list "Courses" header
#frontpage-category-combo>h2 {
	display: none;
}

/** Progress Bar */

.block_progress .progressBarCell {
	border: 1px solid $primary-dark-blue;
	border-radius: .25rem;
	margin: .25rem 0 0 .25rem;
}