 // https://docs.moodle.org/dev/Creating_a_theme_based_on_boost#Why_do_we_use_pre_and_post_SCSS.3F
// Post SCSS for the theme.

#page-wrapper {
	min-height: 100%;
	height: auto;
	padding-bottom: 1rem;
}

.content .sectionname {
	margin-top: .5rem;
}

// Reduce the spacing between the userpicture and the caret.
.navbar-nav .avatars img.userpicture {
    margin-right: -.5rem;
    margin-left: .5vw;
}

/** Nav Drawer */
#nav-drawer {
	border-right: $card-border-width solid $card-border-color;
}
// Hide the Participants node
#nav-drawer a[data-key="participants"] {
	display: none;
}
// Hide the Grades node
#nav-drawer a[data-key="grades"] {
	display: none;
}

/** Nav Bar */
.navbar {
    box-shadow: 0 3px 0 $primary;
}

#navbar-login {
	box-shadow: 0 0;
	margin-bottom: 1rem;
}

.navbar .btn {
	background-color: $gray-200;
	border-color: $gray-200;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar .btn-secondary:not(.disabled):active:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar .nav-link .fa-bars {
	color: $dark;
}

// Change height, margin and padding of navbar logo.
.navbar-brand .logo .icon {
    height: auto;
    width: 100%;
    max-width: 206px;
    max-height: 45px;
}

.navbar-brand .logo {
	height: $navbar-height;
	width: 100%;
}

#navbar-brand {
	height: $navbar-height;
	max-width: 206px;
	width: 100%;
	padding-right: 4px;
}


.navbar-nav li.usermenu {
	line-height: 1;
	margin-right: -.5rem;
}

.navbar-nav .usermenu .login {
    line-height: 1rem;
}

#page-login-index #page-wrapper,
#page-login-verify_age_location #page-wrapper,
#page-admin-tool-policy-index #page-wrapper,
#page-admin-tool-policy-view #page-wrapper,
#page-login-signup #page-wrapper {
	// We have to use rgba here in order to use transparency over the image.
	// It's the rgb value of $primary-dark-blue.
	background:
		linear-gradient(rgba(23, 49, 64, 0.5), rgba(23, 49, 64, 0.5)),
		url([[pix:theme_saylor|backgrounds/login_background_bridge]]);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

// Login Page
.login-container {
	color: $white;
	margin-top: 5vw;
}

.login-container .forgetpass a {
	color: $primary-orange;
}

.email-login {
	margin-bottom: 2rem;
}

.signup .btn {
	width: 15rem;
}

.identityproviders {
	margin-top: 2rem;
}

.potentialidp a {
	width: 10rem;
	margin-top: .5rem;
}

// Enroll button
#enroll-button-container {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 5px;
}

/** Course Catalog */

.coursebox .content .summary {
	width: 100%;
	padding-left: .5rem;
	margin: 0;
}

.coursebox .content .summary p {
	margin: 0;
}

.coursebox .content .courseimage {
    display: none;
}

.coursebox .content .coursefile {
	display: none; 
}

.coursebox .enrolmenticons {
	display: none;
}

.coursebox .info .coursename a {
	background-image: none;
	padding-left: 0;
}

.coursebox .moreinfo {
	float: none;
	padding-top: 6px;
}

/** Footer */
#page-footer a {
	text-decoration: none;
}

#page-footer .footer-logo .icon {
	width: auto;
	height: 30px;
}

#footer-logo-share-bottom .footer-logo .icon {
	width: auto;
    height: 40px;
}

#footer-links h4 {
	margin: 0;
}

#footer-ccby-logo .icon {
	width: 80px;
	height: auto;
}

/** Honesty Check */

#id_honestycheckheader .fcontainer .form-group .form-inline {
	max-width: 100% !important;
	flex: 0 0 auto !important;
}

/** Quiz **/

.path-mod-quiz #mod_quiz_navblock {
    .qnbutton {
	    color: $primary;
	}
}

.que .info {
	background-color: $light;
	border-color: $card-border-color;
}

.que .content .formulation {
	background-color: $card-bg;
	border: 1px solid $card-border-color;
	border-radius: 2px;
	color: $body-color;
}

// student response area grading background change
.que.essay .content .formulation .ablock .answer .qtype_essay_editor.qtype_essay_response.readonly{
    background-color: $expand-pink-100;
    border-radius: .25rem;
    padding: .25rem;
}

/** Profile Page */

.userprofile .profile_tree a[href*="/mod/forum"] {
	display: none;
}

// Hide optional fields/categories in profile and registration
div#fitem_id_city {
	display: none;
}

div#fitem_id_country {
	display: none;
}

fieldset#id_category_0 {
	display: none;
}

fieldset#id_moodle_optional {
	display: none;
}

fieldset#id_moodle_additional_names {
	display: none;
}

/** Front Page */

// Hide combo list "Courses" header
#frontpage-category-combo>h2 {
	display: none;
}

#banner-wrapper {
	margin-bottom: 0;
	background-image: linear-gradient(to right, $expand-light-blue-800, $expand-dark-blue-900);
}

#coursesearch {
	margin-top: 0 !important;
}

.coursesearchbox {
	margin-left: auto;
	margin-right: auto;
}

/** Category Page */
.category-banner-wrapper {
	margin: 0;
	background-image: linear-gradient(to right, $expand-light-blue-800, $expand-dark-blue-900);
}

#business-administration-banner {
	background-image: linear-gradient(to right, $expand-pastel-green-700, $expand-pastel-green-900);
}

#political-science-banner {
	background-image: linear-gradient(to right, $expand-pastel-green-700, $expand-pastel-green-900);
}

#communication-banner {
	background-image: linear-gradient(to right, $expand-pastel-green-700, $expand-pastel-green-900);
}

#philosophy-banner {
	background-image: linear-gradient(to right, $expand-teal-700, $expand-teal-900);
}

#psychology-banner {
	background-image: linear-gradient(to right, $expand-teal-700, $expand-teal-900);
}

#sociology-banner {
	background-image: linear-gradient(to right, $expand-teal-700, $expand-teal-900);
}

#biology-banner {
	background-image: linear-gradient(to right, $expand-red-600, $expand-red-900);
}

#chemistry-banner {
	background-image: linear-gradient(to right, $expand-red-600, $expand-red-900);
}

#physics-banner {
	background-image: linear-gradient(to right, $expand-red-600, $expand-red-900);
}

#mathematics-banner {
	background-image: linear-gradient(to right, $expand-pink-500, $expand-pink-900);
}

#computer-science-banner {
	background-image: linear-gradient(to right, $expand-pink-500, $expand-pink-900);
}

#economics-banner {
	background-image: linear-gradient(to right, $expand-pink-500, $expand-pink-900);
}

#english-banner {
	background-image: linear-gradient(to right, $expand-indigo-500, $expand-indigo-900);
}

#english-as-a-second-language-banner {
	background-image: linear-gradient(to right, $expand-indigo-500, $expand-indigo-900);
}

#art-history-banner {
	background-image: linear-gradient(to right, $expand-indigo-500, $expand-indigo-900);
}

#history-banner {
	background-image: linear-gradient(to right, $expand-indigo-500, $expand-indigo-900);
}

#professional-development-banner {
	background-image: linear-gradient(to right, $expand-purple-500, $expand-purple-900);
}

#learning-skills-banner {
	background-image: linear-gradient(to right, $expand-purple-500, $expand-purple-900);
}

#geography-banner {
	background-image: linear-gradient(to right, $expand-indigo-500, $expand-indigo-900);
}

/** Progress Bar */
.block_completion_progress .progressBarCell {
	border: 1px solid $primary-dark-blue;
	border-radius: .25rem;
	margin: .25rem 0 0 .25rem;
}

.block_progress .progressBarCell {
	border: 1px solid $primary-dark-blue;
	border-radius: .25rem;
	margin: .25rem 0 0 .25rem;
}

/** Resources */
// Hide the resource navigation at the bottom of the resources.
// It's confusing students.
// Eventually, override the renderer to go to next unit.

.activity-navigation {
	display: none;
}

// Hide activities and resources that are access-restricted.
.li.section.hidden {
	display: none;
}

/** Atto Editor */
// Make the min height of editor boxes 160px.
// In some places it's 28px and too small.
.editor_atto_content {
    min-height: 160px !important;
}

/** Standoutbox */
// For a gray standoutbox, use the bootstrap class bg-light.
// Blue standoutbox
.standoutbox.blue {
	background-color: $expand-light-blue-50;
}