// https://docs.moodle.org/dev/Creating_a_theme_based_on_boost#Why_do_we_use_pre_and_post_SCSS.3F
// Pre SCSS for the theme.

@media (max-width: 364px) {
	.navbar-brand .icon {
		margin-right: 0;
	}
}