#page-grade-report-quizanalytics-index .display-table a:hover,
#page-grade-report-quizanalytics-index .display-table a:focus {
  text-decoration: none;
}
.showanalytics {
  margin-top:20px;
}
.showanalytics .parentTabs p {
  font-weight: normal;
  margin: 20px 0 10px !important;
}
.showanalytics .tabbable {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}
.showanalytics .parentTabs .tab-content {
  padding: 0px 15px 15px 15px;
  position: relative;
  text-align: center;
}
.showanalytics .tabbable ul.nav-tabs {
  padding-left: 6px;
  padding-top: 6px; 
  border-bottom: 1px solid #dadada;
}
.showanalytics .nav>li>a:hover, .showanalytics .nav>li>a:focus {
    background-color: transparent;
    outline: none;
}
.showanalytics ul.nav-tabs li a {
  border: 1px solid #CCCCCC !important;
}
.showanalytics ul.nav-tabs li.active a {
    color: #333333 !important;
    background: #EEEEEE !important;
    border: 1px solid #8FA7BC !important;
    border-bottom: none !important;
}
.navbar .popover-region-toggle,
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
  display: inline !important;
}
.showanalytics, #dialogbox {
  display: none;
}
#dialogbox {
  text-align: center;
  padding-top: 20px;
}
#dialogbox .ui-button-icon-only:focus {
    outline: none;
}
#page-grade-report-quizanalytics-index .paging {
  padding: 10px 5px;
}
.download-canvas {
    display: inline-block;
    background: #f8f8f8 url(images/downloadicon.png) center center no-repeat;
    height: 25px;
    width: 25px;
    background-size: 75% 75%;
    border: 4px solid #eee;
    line-height: 30px;
    border-radius: 10px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
}

.shareBtn {
    display: inline-block;
    background: #f8f8f8 url(images/fbshare.jpg) center center no-repeat;
    height: 25px;
    width: 60px;
    background-size: contain;
    border: 4px solid #eee;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.downloadandshare {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: auto;
}
#subtab23 .attemptssnapshot .span6 .downloadandshare {
  right: 80px; 
}
#subtab23 .attemptssnapshot .span6 {
  position: relative;
  padding-bottom: 20px !important;
}
#subtab23 .attemptssnapshot .span6 label {
  max-width: 300px;
}
.chart-legend ul {
  width: auto;
  margin-left: 10%;
  display: inline-block;
  float: none;
  text-align: left;
  border-bottom: none !important; 
}

.chart-legend ul li {
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
  position: relative;
  padding-left: 17px;
  margin: 3px 5px 8px 0;
  text-align: left;
  width: 38%;
}

.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 2px;
}

.strike{
  text-decoration: line-through !important;
}

@media (min-width: 1600px) {
  #subtab23 .attemptssnapshot .span6 label {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    margin-left: 0px !important;
  }
}

@media (min-width: 768px) { 
  .attemptssnapshot .span6 {
    padding-bottom: 15px !important;
  }
  .showanalytics label {
    margin-top: 50px !important;
  }
  .showanalytics .span6 label {
    margin-top: 0px !important;
  }
}

@media (max-width: 1280px) { 
  #subtab23 .span6 .downloadandshare {
    position: relative;
    top: -10px !important;
    right: 55px !important;
  }
}
@media (max-width: 1152px) {
  .showanalytics .nav-tabs>li>a {
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
    font-size: 12px;
  }
  .chart-legend ul li {
    font-size: 13px;
  }
  #subtab23 .span6 .downloadandshare {
    right: 20px !important;
  }
}
@media (max-width: 980px) {
  .showanalytics .tabbable ul.nav-tabs li {
    white-space: normal;
    text-align: left;
    width: 100%;
  }
  .showanalytics .tabbable ul.nav-tabs {
    padding-right: 6px;
  }
  .showanalytics .nav-tabs>li>a {
    padding-left: 10px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .downloadandshare {
    position: relative;
    top: 10px;
  }
  .showanalytics #subtab23 .span6 {
    padding-bottom: 20px;
  }
  .showanalytics label {
    margin-top: 15px !important;
  }
  #subtab23 .attemptssnapshot .span6 label {
    max-width: 60%;
    padding-left: 20%;
  }
  .chart-legend ul {
    margin-left: 20% !important;
  }
  #subtab23 .attemptssnapshot .span6 .downloadandshare {
    right: 0px !important;
    top: -10px !important;
  }
}
@media (max-width: 480px) {
  .canvas-wrap, .canvas-wrap ~ p {
    width: 500px;
  }
  .mobile_overflow {
    overflow: auto;
  } 
}
