<div class="page-footer mod_wordcards_cancelattempt_cont">
    <button data-href="{{{cancelurl}}}" class="cancel_attempt_button btn btn-secondary btn-lg btn-block">
        <i class="fa fa-trash"></i> {{#str}}cancelbuttontext, mod_wordcards{{/str}}
    </button>
</div>