<div id="wordcards_loading" class="wordcards_loading">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br>
    <span class="wordcards_loadingtext">{{#str}}loading, mod_wordcards{{/str}}</span>
</div>