<div id="cards-page-{{uniqid}}">
    <div class="wordcards_timer">00:00:00</div>
    <div id="wordcards" class="wordcards">
        <div class="congrats">
          <div class="wordcards_congrats">Congratulations</div>
          {{#hascontinue}}
              <button data-href="{{{nexturl}}}" class="btn btn-primary wordcards-continue-button">{{continue}}</button>
          {{/hascontinue}}
        </div>
    </div>

</div>

{{#js}}
    require(['jquery', 'mod_wordcards/cards'], function($, Cards) {
        var container = $('#cards-page-{{uniqid}}');
        var    modid = {{modid}};
        var    canmanage = {{canmanage}};
        var    cards = container.find('.wordcards');
        var    btn = container.find('.wordcards-continue-button');


        var inst = new Cards(cards, {{{definitionsjson}}});

        function displayfinishmessage() {

            $('.wordcards_timer').css('display', 'none');
            container.find('.congrats').css('display', 'block');
        }

        if (canmanage) {
            inst.setDryRun(true);
        }
        inst.init();

        {{#hascontinue}}
            btn.on('click', function() {
                location.href = $(this).data('href');
            });
            if (!canmanage) {
                btn.prop('disabled', true);
            }
            inst.on('complete', function() {

                {{#completeafterlocal}}
                    var redirecturl = "{{{nexturl}}}";
                    window.location.replace(redirecturl.replace(/&amp;/g,'&') + "&localscattertime=1");
                    return;
                {{/completeafterlocal}}

                {{#isglobalscatter}}
                    var redirecturl = "{{{nexturl}}}";
                    window.location.replace(redirecturl.replace(/&amp;/g,'&') + "&globalscattertime=" + 1);
                    return;
                {{/isglobalscatter}}

                btn.prop('disabled', false);

                displayfinishmessage();


            });
        {{/hascontinue}}

        {{#isglobalcompleted}}
            inst.on('complete', function() {
                displayfinishmessage();

            });
        {{/isglobalcompleted}}

        // Move the wordcards on top of screen.
        $(window).scrollTop($('#wordcards').offset().top - 45);

    });

{{/js}}
