<div id='wordcards-vocab-list'>
  {{> mod_wordcards/vocablist_header}}
  <div id="vocab-list-inner">{{> mod_wordcards/loading}}</div>
</div>

<div id='wordcards-gameboard'>

  <div class="mod_wordcards_activity_header">
    <h3>{{#str}}title_speechcards, mod_wordcards{{/str}}</h3>
    <div class="mod_wordcards_instructions">{{#str}}instructions_speechcards, mod_wordcards{{/str}}</div>
  </div>

  <div id='wordcards-counter'>
    <div id='wordcards-time-counter'></div>
  </div>

  {{> mod_wordcards/progress_dots}}

  <div id="speech-container">
      <div class="wordcards-poodllspeechcards_box">


      </div>
    <div id="wordcards-star-rating">
    </div>
    {{> mod_wordcards/ttrecorder}}
    {{> mod_wordcards/cloudpushrecorder}}

    <div style="text-align:center;">
      <button style="border: 2px solid darkgray;border-radius: 5px;" class="center-block btn btn-secondary wordcards-speechcards_button wordcards-speechcards_nextbutton" >
      <i class="fa fa-times"></i> {{#str}}skip, mod_wordcards{{/str}}
    </button>
    </div>

  </div>

</div>

<div id='wordcards-results'>
  <div id='results-inner'>{{> mod_wordcards/loading}}</div>
</div>