<div id="ttrec_container_{{data-id}}" class="mod_wordcards_ttrec_waveButtonContainer" style="display: none; height: {{waveheight}}px; margin-bottom:10px">

    <canvas id="{{data-id}}_waveform" class="mod_wordcards_ttrec_waveForm" style="height:100%;width:100%"></canvas>

    <div id="ttrec_{{data-id}}_recorderdiv" style="pointer-events: auto; background: green" class="mod_wordcards_ttrec_waveButton" data-passagehash="{{passagehash}}" data-waveheight="{{waveheight}}"
         data-region="{{region}}" data-lang="{{language}}" data-asrurl="{{{asrurl}}}" data-maxtime="{{{maxtime}}}">
        <i class="fa fa-microphone"></i>
    </div>

</div>