<div class="mod_wordcards_activity_header">
    <h3>{{#str}}title_vocablist, mod_wordcards{{/str}}</h3>
    <div class="mod_wordcards_instructions">{{#str}}instructions_vocablist, mod_wordcards{{/str}}</div>
</div>