/* 3.5 styles */

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

div.core-course-thumb.core-course-color-img {
	padding-top: 50% !important;
}

/** Standoutbox */
// The standoutbox is incorporating CSS from other classes including:
// card, text-center, border, and rounded.
// This should make it cleaner for us to implement in resources.
.standoutbox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: 1px solid $gray-300 !important;
	text-align: center;
	border-radius: .25rem !important;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	-webkit-background-clip: border-box;
	background-clip: border-box;

}

// Blue standoutbox legacy
.standoutbox.blue {
	background-color: #e3f5fa;
}
// Blue standoutbox
.standoutbox.standoutbox-blue {
	background-color: #e3f5fa;
}
// Gray standoutbox
.standoutbox.standoutbox-gray {
	background-color: #f5f5f5;
}

// Sizing
// Initially, set all standoutboxes to 100% width (with margins).
.standoutbox {
	max-width: 100%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.standoutbox {
		max-width: 90%;
	}
	.standoutbox.standoutbox-sm {
		max-width: 70%;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.standoutbox {
		max-width: 80%;
	}
	.standoutbox.standoutbox-sm {
		max-width: 50%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.standoutbox.standoutbox-sm {
		max-width: 40%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
