{{#enablecategoryimage}}
<div class="customcategories">
   <div class="container">
   </div>
</div>
{{/enablecategoryimage}}
{{^enablecategoryimage}}
<div class="defaultcategories">
   <div class="container">
   </div>
</div>
{{/enablecategoryimage}}
