{{!
@template theme_trending/navbar
@template theme_trending/reg
This template renders the top navbar.
Example context (json):
{
"output": {
"should_display_navbar_logo": true,
"get_compact_logo_url": "http://example.com/image.png",
"custom_menu": "
<li>..</li>
",
"page_heading_menu": "
<li>..</li>
",
"search_box": "
<div><input type='text'></div>
",
"navbar_plugin_output": "
<div class='dropdown'>Messaging</div>
",
"user_menu": "
<div class='dropdown'>John Doe</div>
"
},
"config": {
"wwwroot": "#"
},
"sitename": "Moodle Site"
}
}}
<div class="top-header">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 call">
            <ul class="top-left customsearch">
               <li class="newsearch">
                  <a href="{{config.wwwroot}}/course/" class="catalog">Catalog</a>
                  <form role="form" class="form-inline searchbox" id="searchbox_demo" method="get" action="{{config.wwwroot}}/course/search.php" >
                     <div class="input-group search">
                        <input type="text" placeholder="Search Courses" value="" name="search">
                        <input type="submit" name="sa" value="" class="submit" />
                     </div>
                     <div class="clearfix"></div>
                  </form>
               </li>
            </ul>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12">
            <ul class="top-right clearfix">
               <li class="nav-item d-flex login float-right">
                  {{>theme_trending/reg}}
                  {{{ output.user_menu }}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="fixed-nav-element"></div>
<div id="nav-main" class="top-page-header">
   <div class="container">
      <div class="float-left"><a class="logo" href="{{{ config.wwwroot }}}"><img src="{{{ logourl }}}" alt="logo"></a></div>
      <nav class="navbar navbar-bootswatch navbar-expand moodle-has-zindex float-right">
         <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
            d-none d-sm-inline
            {{/ output.should_display_navbar_logo }}
            ">
         {{# output.should_display_navbar_logo }}
         <span class="logo d-none d-sm-inline">
         <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
         </span>
         {{/ output.should_display_navbar_logo }}
         <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
         </a>
         <ul class="navbar-nav navigation">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
         </ul>
         <ul class="nav navbar-nav ml-auto">
            <!-- search_box -->
            <li class="d-none d-lg-block">
               {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
               {{{ output.navbar_plugin_output }}}
            </li>
            <li class="menu-bar">
               <a class="mobile-home" href="" title="Trending">
               <i class="fa fa-home"></i>
               </a>
               <a class="show-menu" href="#">
               <i class="fa fa-bars"></i>
               </a>
            </li>
         </ul>
      </nav>
      <div class="clearfix"></div>
   </div>
</div>
