{{#displayslidersection}}
<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
   <div data-src="{{{slider1imageurl}}}">
      {{#slider1caption}}
      <div class="camera_caption moveFromBottom">
         {{{slider1caption}}}
      </div>
      {{/slider1caption}}
      <div class="moveFromBottom buttons">
         {{#joinnowbuttontext}}
         <a class="btn" href="{{{joinnowbuttonurl}}}">{{{joinnowbuttontext}}}</a>
         {{/joinnowbuttontext}}
         {{#readmorebuttontext}}
         <a class="btn blue" href="{{{readmorebuttonurl}}}">{{{readmorebuttontext}}}</a>
         {{/readmorebuttontext}}
      </div>
   </div>
   <div data-src="{{{slider2imageurl}}}">
      {{#slider2caption}}
      <div class="camera_caption moveFromLeft">
         {{{slider2caption}}}
      </div>
      {{/slider2caption}}
      <div class="moveFromLeft buttons">
         {{#startcoursebuttontext}}
         <a class="btn" href="{{{startcoursebuttonurl}}}">{{{startcoursebuttontext}}}</a>
         {{/startcoursebuttontext}}
         {{#taketourbuttontext}}
         <a class="btn bor" href="{{{taketourbuttonurl}}}">{{{taketourbuttontext}}}</a>
         {{/taketourbuttontext}}
      </div>
   </div>
   <div data-src="{{{slider3imageurl}}}">
      {{#slider3caption}}
      <div class="camera_caption moveFromBottom">
         {{{slider3caption}}}
      </div>
      {{/slider3caption}}
   </div>
   <div data-src="{{{slider4imageurl}}}">
      {{#slider4caption}}
      <div class="camera_caption moveFromRight">
         {{{slider4caption}}}
      </div>
      {{/slider4caption}}
      {{#slider4tagline}}
      <div class="moveFromRight buttons">
         <p>{{{slider4tagline}}}</p>
      </div>
      {{/slider4tagline}}
   </div>
   <div data-src="{{{slider5imageurl}}}">
      {{#slider5caption}}
      <div class="camera_caption moveFromBottom">
         {{{slider5caption}}}
      </div>
      {{/slider5caption}}
   </div>
   <div data-src="{{{slider6imageurl}}}">
      {{#slider6caption}}
      <div class="camera_caption moveFromLeft">
         {{{slider6caption}}}
      </div>
      {{/slider6caption}}
      <div class="moveFromLeft buttons">
         {{#slider6tagline}}
         <p>{{{slider6tagline}}}</p>
         {{/slider6tagline}}
         {{#slider6buttontext}}
         <a class="btn" href="{{{slider6buttonurl}}}">{{{slider6buttontext}}}</a>
         {{/slider6buttontext}}
      </div>
   </div>
</div>
{{/displayslidersection}}
<!-- #camera_wrap_1 -->
{{>theme_trending/stickyicons}}
{{>theme_trending/blocks}}
<div class="clearfix"></div>
