<!-- Start Sticky Icons Section --> 
<ul id="stickyicons">
   <li>
      <a href="{{{callusurl}}}">
      <span class="stickynavicon" style="font-size:1.2em;"><i class="fa fa-phone" ></i></span>
      {{#callus}}
      <span class="stickynavtext" style="right: -500px;">{{{callus}}}</span>
      {{/callus}}
      </a>
   </li>
   <li >
      <a href="{{{emailusurl}}}">
      <span class="stickynavicon" style="font-size:1.2em;"><i class="fa fa-envelope" ></i></span>
      {{#emailus}}
      <span class="stickynavtext" style="right: -500px;">{{{emailus}}}</span>
      {{/emailus}}
      </a>
   </li>
   <li>
      <a href="{{{livechaturl}}}">
      <span class="stickynavicon" style="font-size:1.2em;"><i class="fa fa-comments"></i></span>
      {{#livechat}}
      <span class="stickynavtext" style="right: -500px;">{{{livechat}}}</span>
      {{/livechat}}
      </a>
   </li>
</ul>
<!-- End Sticky Icons Section -->
