<!-- Start Tutors Section -->
{{#displaytutorsection}}
<div class="tutors">
   <div class="container">
      {{#tutorssectionheading}}
      <h1>{{{tutorssectionheading}}}</h1>
      {{/tutorssectionheading}}
      {{#tutorssectiontagline}}
      <p class="tagline">{{{tutorssectiontagline}}}</p>
      {{/tutorssectiontagline}}
      <div class="row">
         {{#displaytutor1}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor1image}}
            <div class="tutors-image">
               <a href="{{{tutor1url}}}"><img src="{{{tutor1image}}}" alt=""/></a>
            </div>
            {{/tutor1image}}
            <div class="tutors-info">
               {{#tutor1name}}
               <h5><a href="{{{tutor1url}}}">{{{tutor1name}}}</a></h5>
               {{/tutor1name}}
               {{#tutor1designation}}
               <p>{{{tutor1designation}}}</p>
               {{/tutor1designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor1}}
         {{#displaytutor2}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor2image}}
            <div class="tutors-image">
               <a href="{{{tutor2url}}}"><img src="{{{tutor2image}}}" alt=""/></a>
            </div>
            {{/tutor2image}}
            <div class="tutors-info">
               {{#tutor2name}}
               <h5><a href="{{{tutor2url}}}">{{{tutor2name}}}</a></h5>
               {{/tutor2name}}
               {{#tutor2designation}}
               <p>{{{tutor2designation}}}</p>
               {{/tutor2designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor2}}
         {{#displaytutor3}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor3image}}
            <div class="tutors-image">
               <a href="{{{tutor3url}}}"><img src="{{{tutor3image}}}" alt=""/></a>
            </div>
            {{/tutor3image}}
            <div class="tutors-info">
               {{#tutor3name}}
               <h5><a href="{{{tutor3url}}}">{{{tutor3name}}}</a></h5>
               {{/tutor3name}}
               {{#tutor3designation}}
               <p>{{{tutor3designation}}}</p>
               {{/tutor3designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor3}}
         {{#displaytutor4}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor4image}}
            <div class="tutors-image">
               <a href="{{{tutor4url}}}"><img src="{{{tutor4image}}}" alt=""/></a>
            </div>
            {{/tutor4image}}
            <div class="tutors-info">
               {{#tutor4name}}
               <h5><a href="{{{tutor4url}}}">{{{tutor4name}}}</a></h5>
               {{/tutor4name}}
               {{#tutor4designation}}
               <p>{{{tutor4designation}}}</p>
               {{/tutor4designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor4}}
         {{#displaytutor5}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor5image}}
            <div class="tutors-image">
               <a href="{{{tutor5url}}}"><img src="{{{tutor5image}}}" alt=""/></a>
            </div>
            {{/tutor5image}}
            <div class="tutors-info">
               {{#tutor5name}}
               <h5><a href="{{{tutor5url}}}">{{{tutor5name}}}</a></h5>
               {{/tutor5name}}
               {{#tutor5designation}}
               <p>{{{tutor5designation}}}</p>
               {{/tutor5designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor5}}
         {{#displaytutor6}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor6image}}
            <div class="tutors-image">
               <a href="{{{tutor6url}}}"><img src="{{{tutor6image}}}" alt=""/></a>
            </div>
            {{/tutor6image}}
            <div class="tutors-info">
               {{#tutor6name}}
               <h5><a href="{{{tutor6url}}}">{{{tutor6name}}}</a></h5>
               {{/tutor6name}}
               {{#tutor6designation}}
               <p>{{{tutor6designation}}}</p>
               {{/tutor6designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor6}}
         {{#displaytutor7}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor7image}}
            <div class="tutors-image">
               <a href="{{{tutor7url}}}"><img src="{{{tutor7image}}}" alt=""/></a>
            </div>
            {{/tutor7image}}
            <div class="tutors-info">
               {{#tutor7name}}
               <h5><a href="{{{tutor7url}}}">{{{tutor7name}}}</a></h5>
               {{/tutor7name}}
               {{#tutor7designation}}
               <p>{{{tutor7designation}}}</p>
               {{/tutor7designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor7}}
         {{#displaytutor8}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor8image}}
            <div class="tutors-image">
               <a href="{{{tutor8url}}}"><img src="{{{tutor8image}}}" alt=""/></a>
            </div>
            {{/tutor8image}}
            <div class="tutors-info">
               {{#tutor8name}}
               <h5><a href="{{{tutor8url}}}">{{{tutor8name}}}</a></h5>
               {{/tutor8name}}
               {{#tutor8designation}}
               <p>{{{tutor8designation}}}</p>
               {{/tutor8designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor8}}
         {{#displaytutor9}}
         <div class="col-lg-4 col-md-6 col-sm-12 box hvr-float-shadow">
            {{#tutor9image}}
            <div class="tutors-image">
               <a href="{{{tutor9url}}}"><img src="{{{tutor9image}}}" alt=""/></a>
            </div>
            {{/tutor9image}}
            <div class="tutors-info">
               {{#tutor9name}}
               <h5><a href="{{{tutor9url}}}">{{{tutor9name}}}</a></h5>
               {{/tutor9name}}
               {{#tutor9designation}}
               <p>{{{tutor9designation}}}</p>
               {{/tutor9designation}}
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displaytutor9}}
      </div>
   </div>
</div>
{{/displaytutorsection}}
<!-- End Tutors Section -->
