.block_sayloroverview {
  background-color: transparent;
}
.block_sayloroverview .row-fluid [class*="span"] {
  margin-left: 0;
}
.block_sayloroverview .event-list-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.block_sayloroverview .event-list-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.block_sayloroverview .event-list-item .event-icon {
  vertical-align: middle;
}
.block_sayloroverview .event-list-item .event-icon::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.block_sayloroverview .event-list-item .event-name-container {
  vertical-align: middle;
  max-width: calc(100% - 50px);
}
.block_sayloroverview .event-list-item .event-name-container .event-name {
  display: block;
}
.block_sayloroverview .empty-placeholder-image-sm {
  height: 50px;
}
.block_sayloroverview .empty-placeholder-image-lg {
  height: 125px;
}
.block_sayloroverview .courses-view-course-item {
  height: 220px;
  overflow-y: hidden;
}
.block_sayloroverview h4 {
  font-weight: normal;
}
.block_sayloroverview .well {
  background-color: #fff;
  box-shadow: none;
  margin: 0 5px 10px;
}
.block_sayloroverview .sayloroverviewimg {
  height: 150px;
}
.block_sayloroverview .sayloroverviewimg.courseimage {
  background-position: center;
  background-size: cover;
}



.progress-chart-container.sayloroverview-progress-chart-container .progress-doughnut .progress-indicator svg .circle {
    stroke-width: 15px;
    stroke: #F7B12F;
    fill: none;
    stroke-dasharray: 173;
    stroke-dashoffset: 173;
    transform: rotate(-90deg);
    transform-origin: center center;
}

.progress-chart-container.sayloroverview-progress-chart-container .progress-doughnut .progress-text.has-percent {
    color: #f16505;
    font-weight: bold;
}

.progress-chart-container.sayloroverview-progress-chart-container .progress-doughnut .progress-indicator svg .circle {
	stroke-width: 15px;
	stroke: #f77504;
	fill: none;
}

.block_sayloroverview .pagination .page-link:focus {
	box-shadow: none !important;
}

.block_sayloroverview a, a:visited {
    text-decoration: none !important;
}

.sayloroverview-pill:not(.active) {
    background-color: #eee !important;
    border: 1px solid transparent;
    color: #173140 !important;
    border-radius: .25rem;
}

.sayloroverview-pill {
    background-color: #f16505 !important;
    border: 1px solid;
    border-color: #cc5504 !important;
    color: white !important;
    border-radius: .25rem;
}

.block_sayloroverview .media-body h3 {
    padding-bottom: .25rem;
}

.block_sayloroverview img.empty-placeholder-image {
    width: 30%;
    min-width: 10rem;
}