// Bootstrap variables

// Saylor Greyscale 
$white:    #ffffff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #9f9f9f !default;
$gray-400: #757575 !default;
$gray-500: #616161 !default;
$gray-600: #424242 !default;
$gray-700: #212121 !default;
$gray-800: #1a1a1a !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;


//Saylor color guidelines
//Saylor Primary palette
$primary-light-blue:    #469dcd !default;
$primary-dark-blue:     #173140 !default;
$primary-orange:        #f77504 !default;

//Expanded Primary palette
$expand-light-blue-50:    #e3f5fa !default;
$expand-light-blue-100:   #b9e6f4 !default;
$expand-light-blue-200:   #8fd5ec !default;
$expand-light-blue-300:   #6cc4e4 !default;
$expand-light-blue-400:   #59b8e0 !default;
$expand-light-blue-500:   #4dacdb !default;
$expand-light-blue-600:   #469dcd !default;
$expand-light-blue-700:   #3d8bba !default;
$expand-light-blue-800:   #397aa6 !default;
$expand-light-blue-900:   #2e5b83 !default;

$expand-orange-50:      #fff2e0 !default;
$expand-orange-100:     #ffdeb1 !default;
$expand-orange-200:     #ffc97f !default;
$expand-orange-300:     #ffb34c !default;
$expand-orange-400:     #ffa225 !default;
$expand-orange-500:     #ff9200 !default;
$expand-orange-600:     #fd8602 !default;
$expand-orange-700:     #f77504 !default;
$expand-orange-800:     #f16505 !default;
$expand-orange-900:     #e84806 !default;

// orange background color for buttons same as orange 800
$button-bg-orange: #f16505 !default;

$expand-dark-blue-50:    #e2f0fe !default;
$expand-dark-blue-100:   #c2d9e7 !default;
$expand-dark-blue-200:   #a3bed0 !default;
$expand-dark-blue-300:   #83a3b9 !default;
$expand-dark-blue-400:   #6b8fa6 !default;
$expand-dark-blue-500:   #527b95 !default;
$expand-dark-blue-600:   #456c84 !default;
$expand-dark-blue-700:   #36596d !default;
$expand-dark-blue-800:   #294658 !default;
$expand-dark-blue-900:   #173140 !default;

//Saylor Secondary palette
$secondary-blue-1:     #2e7da8 !default;
$secondary-blue-2:     #225d7c !default;

$secondary-orange-1:     #ffad64 !default;
$secondary-orange-2:     #ff973b !default;
$secondary-orange-3:     #c15b00 !default;
$secondary-orange-4:     #974700 !default;

//Expanded Tertiary palette
// Blue Analagous
$expand-teal-50:    #e1f6f3 !default;
$expand-teal-100:   #b4e9e1 !default;
$expand-teal-200:   #81dcce !default;
$expand-teal-300:   #46cdb9 !default;
$expand-teal-400:   #00c0a8 !default;
$expand-teal-500:   #00b398 !default;
$expand-teal-600:   #00a584 !default;
$expand-teal-700:   #009379 !default;
$expand-teal-800:   #00836a !default;
$expand-teal-900:   #00654d !default;

$expand-indigo-50:      #e9ecf9 !default;
$expand-indigo-100:     #c8cef1 !default;
$expand-indigo-200:     #a4aee7 !default;
$expand-indigo-300:     #7f8edd !default;
$expand-indigo-400:     #6274d5 !default;
$expand-indigo-500:     #465acd !default;
$expand-indigo-600:     #4052c2 !default;
$expand-indigo-700:     #3747b6 !default;
$expand-indigo-800:     #2e3daa !default;
$expand-indigo-900:     #202996 !default;

// Blue Triadic
$expand-pink-50:    #f9e6f1 !default;
$expand-pink-100:   #f0bfdc !default;
$expand-pink-200:   #e595c5 !default;
$expand-pink-300:   #d869af !default;
$expand-pink-400:   #cd469e !default;
$expand-pink-500:   #c1218f !default;
$expand-pink-600:   #b41b8a !default;
$expand-pink-700:   #a31183 !default;
$expand-pink-800:   #93097d !default;
$expand-pink-900:   #790071 !default;

$expand-purple-50:      #e9ecf9 !default;
$expand-purple-100:     #d6c9f0 !default;
$expand-purple-200:     #bba5e7 !default;
$expand-purple-300:     #a07fdd !default;
$expand-purple-400:     #8b62d5 !default;
$expand-purple-500:     #7546cd !default;
$expand-purple-600:     #6c41c6 !default;
$expand-purple-700:     #5e38bd !default;
$expand-purple-800:     #5232b5 !default;
$expand-purple-900:     #3d26a8 !default;

// Orange Analagous
$expand-red-50:    #ffe8eb !default;
$expand-red-100:   #ffc6cb !default;
$expand-red-200:   #f58e8b !default;
$expand-red-300:   #ec5f5e !default;
$expand-red-400:   #f43134 !default;
$expand-red-500:   #f7040c !default;
$expand-red-600:   #e90011 !default;
$expand-red-700:   #d7000c !default;
$expand-red-800:   #cb0002 !default;
$expand-red-900:   #be0000 !default;

$expand-yellow-50:      #fefee5 !default;
$expand-yellow-100:     #fcfac0 !default;
$expand-yellow-200:     #faf795 !default;
$expand-yellow-300:     #f8f367 !default;
$expand-yellow-400:     #f5ee3e !default;
$expand-yellow-500:     #f7ef04 !default;
$expand-yellow-600:     #f7db00 !default;
$expand-yellow-700:     #f8c300 !default;
$expand-yellow-800:     #f9a900 !default;
$expand-yellow-900:     #fa7d00 !default;

// Orange Triadic
$expand-pastel-green-50:    #e2fee9 !default;
$expand-pastel-green-100:   #b9fcc7 !default;
$expand-pastel-green-200:   #82faa2 !default;
$expand-pastel-green-300:   #04f775 !default;
$expand-pastel-green-400:   #00f24e !default;
$expand-pastel-green-500:   #00ea2e !default;
$expand-pastel-green-600:   #00d820 !default;
$expand-pastel-green-700:   #00c407 !default;
$expand-pastel-green-800:   #00b200 !default;
$expand-pastel-green-900:   #009000 !default;

$expand-green-50:      #f1ffe4 !default;
$expand-green-100:     #dcfdbd !default;
$expand-green-200:     #c2fc8f !default;
$expand-green-300:     #a3fa57 !default;
$expand-green-400:     #86f704 !default;
$expand-green-500:     #66f400 !default;
$expand-green-600:     #50e200 !default;
$expand-green-700:     #24cc00 !default;
$expand-green-800:     #00b800 !default;
$expand-green-900:     #009400 !default;


// Theme variables
$primary:       $primary-light-blue !default;
$secondary:     $primary-orange !default;
$success:       $expand-green-900 !default;
$info:          $expand-teal-700 !default;
$warning:       $expand-yellow-700 !default;
$danger:        $expand-red-700 !default;
$light:         $gray-100 !default;
$dark:          $gray-600 !default;

// Options
$enable-rounded: true !default;

// Body
$body-color:    $gray-800 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark
);

// Fonts
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url([[font:theme|Comfortaa-Regular.woff2]]) format('woff2'), url([[font:theme|Comfortaa-Regular.woff]]) format('woff'), url([[font:theme|Comfortaa-Regular.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url([[font:theme|OpenSans-Regular.woff2]]) format('woff2'), url([[font:theme|OpenSans-Regular.woff]]) format('woff'), url([[font:theme|OpenSans-Regular.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), local('Raleway-Regular'), url([[font:theme|Raleway-Regular.woff2]]) format('woff2'), url([[font:theme|Raleway-Regular.woff]]) format('woff'), url([[font:theme|Raleway-Regular.ttf]]) format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-base: "Open Sans", $font-family-sans-serif !default;
$font-family-header: "Raleway", $font-family-sans-serif;
$font-family-buttons: "Comfortaa", $font-family-sans-serif;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Import Prettify Saylor Gray theming CSS
@import "prettify-saylor-gray";

// Import SaylorOverview CSS
@import "sayloroverview";

// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
}

h6 { font-family: $font-family-header;
}

h5 { font-family: $font-family-header;
}

h4 { font-family: $font-family-header;
}

h3 { font-family: $font-family-header;
}

h2 { font-family: $font-family-header;
}

h1 { font-family: $font-family-header;
}

.btn {
    font-family: $font-family-buttons;
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Increase font size for user log in/sign up top-right header. */
.usermenu {
    font-size: 1.2em;
}

/** Buttons */
// Button color should be our button orange.
.btn-primary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-primary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}
.btn-secondary {
    @include button-variant($button-bg-orange, darken($button-bg-orange, 7.5%), darken($button-bg-orange, 10%), lighten($button-bg-orange,5%), lighten($button-bg-orange, 10%), darken($button-bg-orange,30%));
}

.btn-outline-secondary {
    @include button-outline-variant($button-bg-orange, #222222, lighten($button-bg-orange,5%), $button-bg-orange);
}

// Button primary and secondary text should always be white.
// Sometimes it was showing up as the secondary color.
.btn .btn-primary, .btn .btn-secondary {
    color: $white;
}

/** Page Backgrounds */
#page-wrapper {
    background-color: $light;
}