<div id='{{data-id}}' data-id="{{data-id}}" class="readaloud_pushrecorder readaloud-pushrecorder" data-parent="{{data-parent}}" data-type="push" data-width="240" data-height="80" data-appid="mod_readaloud" data-media="audio"
  data-speechevents="1" data-language="{{data-language}}" data-transcribe="0" data-transcode="0" data-hints="{{data-hints}}" data-region="{{data-region}}"  data-owner="{{data-owner}}" data-localloader="/mod/readaloud/poodllloader.html" data-token="{{data-token}}">
</div>