<div id="mod_readaloud_modal_inner">
  <div style="font-size:24px;" id="mod_readaloud_modal_target_phrase"></div><hr>
  <div id="mod_readaloud_modal_controls">
    <button id="mod_readaloud_landr_modalplay" style="position:absolute;left:10px;bottom:33px" class="btn btn-lg btn-secondary"><i class="fa fa-volume-up"></i></button>
      <div  style="position:absolute;left:10px;bottom:0px" ><input type="checkbox" id="mod_readaloud_landr_shadow" name="shadow" value="false"><label for="shadow">&nbsp;+ <i class="fa fa-microphone"></i></label></div>
      <div style="width:246px;margin:auto;position:absolute;left:0;right:0;bottom:0;">
          {{> mod_readaloud/ttrecorder}}
      </div>
      <button id="mod_readaloud_landr_modalskip" style="position:absolute;right:10px;bottom:33px" class="btn btn-lg btn-secondary"><i class="fa fa-arrow-right"></i></button>
    <button id="mod_readaloud_landr_modalfinished" style="position:absolute;right:20px;bottom:33px" class="btn btn-lg btn-secondary"><i class="fa fa-check"></i></button>
    <button id="mod_readaloud_landr_modalplayself" style="position:absolute;right:80px;bottom:33px" class="btn btn-lg btn-secondary"><i class="fa fa-repeat"></i></button>
    <audio id='mod_readaloud_landr_hiddenplayer' class="mod_readaloud_landr_hiddenplayer nomediaplugin nopoodll"></audio>
    <audio id='mod_readaloud_landr_hiddenselfplayer' class="mod_readaloud_landr_hiddenselfplayer nomediaplugin nopoodll"></audio>
  </div>
</div>