<div class="mod_readaloud_manybuttonsmenu_container">

{{#items}}
<div class="mod_readaloud_manybuttonsmenu_item card">
    <div class="card-body">
        <h5 class="mod_readaloud_rm_card-title">{{title}}</h5>
        <div class="mod_readaloud_rm_description card-text">{{description}}</div>
        <div class="mod_readaloud_rm_content">
            {{{content}}}
        </div>
    </div >
</div>
{{/items}}
</div>