<div class='mod_readaloud_openclosedates'>
        {{#opendate}}<b>{{#str}}open , mod_readaloud{{/str}}</b>{{#userdate}}{{opendate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}{{/opendate}}
        {{#closedate}}<b>{{#str}}until, mod_readaloud{{/str}}</b>{{#userdate}}{{closedate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}{{/closedate}}
</div>