{{#str}}reportsmenutoptext, mod_readaloud{{/str}}
<div class="readaloud_reportsmenu_box">
    {{#reports}}
        <div class="readaloud_reportsmenu_item">
            <div class="readaloud_reportsmenu_itembutton">
                {{{button}}}
                {{text}}
            </div>
        </div>
    {{/reports}}
</div>