<div id="ttrec_container_{{data-id}}" tabindex="0" class="mod_readaloud_ttrec_waveButtonContainer" style="display: none; height: {{waveheight}}px; margin-bottom:10px">

    <canvas id="{{data-id}}_waveform" class="mod_readaloud_ttrec_waveForm" style="height:100%;width:100%"></canvas>

    <div id="ttrec_{{data-id}}_recorderdiv" style="pointer-events: auto; background: green" class="mod_readaloud_ttrec_waveButton" data-passagehash="{{passagehash}}" data-waveheight="{{waveheight}}"
         data-region="{{data-region}}" data-lang="{{data-language}}" data-asrurl="{{{asrurl}}}" data-maxtime="{{{maxtime}}}">
        <i class="fa fa-microphone"></i>
    </div>

</div>