<div style='background-image:url({{wwwroot}}/mod/minilesson/pix/{{type}}.png)' id="mod_minilesson_qedit_{{type}}" data-qtype="{{type}}" data-id="0" data-type="edit" class="mod_minilesson_addlink mod_minilesson_link_box">
  <div class='mod_minilesson_link_box_title'>
    {{label}}
  </div>
</div>