<div id="{{uniqueid}}_container" class="minilesson_questioncontainer" style="display: none">
  {{> mod_minilesson/quiz_progress}}
  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
  {{> mod_minilesson/questionheader}} {{#sentences}}
  <div class="row dictationrow">
    <div class="col-md-1 poodlldictationplayer dictationplayer_{{index}}">
      <button class="dictationtrigger btn btn-secondary" data-src="@AUDIO@"><i class="fa fa-play"></i></button>
    </div>
    <div class="col-md-10 poodlldictationinput dictationinput_{{index}}">
      <small class="text-muted"><span class="dictationplayer_{{index}}_chars">0</span>/{{length}}</small>
      <input maxlength="{{length}}" class="form-control" data-index="{{index}}" type="text"></input>
    </div>
    <div class="col-md-1">
      <div id="dictationstatus_{{index}}" class="poodlldictationstatus">
        <i style="display:none;" data-index="{{index}}" class="dictate-feedback fa fa-times"></i>
      </div>
    </div>
  </div>
  {{/sentences}} {{> mod_minilesson/nextbutton}}
</div>