{{> mod_minilesson/questionheader}}

  {{#audiocontent}}
      {{> mod_minilesson/multichoiceaudiocontent}}
  {{/audiocontent}}
  {{^audiocontent}}
      {{> mod_minilesson/multichoicetextcontent}}
  {{/audiocontent}}

{{> mod_minilesson/questionfooter}}