{{> mod_minilesson/questionheader}}
  {{#audiocontent}}
      {{> mod_minilesson/multichoiceaudiocontent}}
  {{/audiocontent}}
  {{^audiocontent}}
      {{> mod_minilesson/multichoicetextcontent}}
  {{/audiocontent}}
    <div class="row mcplayrow">
        <div class="col-md-6" style="margin-left: auto;margin-right: auto">
            <div class="minilesson_mc_confirmchoice" style="display: none;" >
                <span class="minilesson_sentence">{{#str}}confirmchoice, mod_minilesson{{/str}}</span>
            </div>
        </div>
    </div>

{{> mod_minilesson/questionfooter}}