 {{#sentences}}
     <div class="row mcplayrow">
         <div class="col-md-12 mcaudiotranscript_{{index}}">
             <div class="minilesson_mc_response" data-index="{{indexplusone}}" id="{{uniqueid}}_option{{indexplusone}}" name="{{uniqueid}}_options" >
                 <span class="minilesson_sentence">{{prompt}}</span>
                 <span class="minilesson_mc_resultbox">
                 <i class="fa fa-check fa-lg minilesson_mc_right" style="display: none;"></i>
                 <i class="fa fa-times fa-lg minilesson_mc_wrong" style="display: none;"></i>
                 </span>
             </div>
         </div>
     </div>
 {{/sentences}}