<div class='mod_minilesson_openclosedates'>
    {{#opendate}}<div><strong>{{#str}}open , mod_minilesson{{/str}}</strong>{{#userdate}}{{opendate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</div>{{/opendate}}
    {{#closedate}}<div><strong>{{#str}}until, mod_minilesson{{/str}}</strong>{{#userdate}}{{closedate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}</div>{{/closedate}}
</div>