<div id="{{uniqueid}}_container" class="minilesson_questioncontainer" style="display: none">
  {{> mod_minilesson/quiz_progress}}
  {{> mod_minilesson/questionheader}} {{> mod_minilesson/nextbutton}}
</div>