<div id="{{uniqueid}}_container" class="minilesson_questioncontainer" style="display: none">
  {{> mod_minilesson/quiz_progress}}
  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
  <!-- title + instructions -->
    {{#title}}<div class="minilesson_questionheader"><b>{{#str}}d_question, mod_minilesson{{/str}} {{number}}: {{{title}}}</b></div>{{/title}}
    <div class="mod_minilesson_itemtext">{{{text}}}</div>
    <!-- Content -->
    {{> mod_minilesson/questioncontent}}
