<div id="{{uniqueid}}_container" class="minilesson_questioncontainer" style="display: none">
  {{> mod_minilesson/quiz_progress}}
  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
  <!-- title + instructions -->
    {{#title}}<div class="minilesson_questionheader"><b>{{#str}}d_question, mod_minilesson{{/str}} {{number}}: {{{title}}}</b></div>{{/title}}
    <div class="mod_minilesson_itemtext">{{{text}}}</div>
    {{#horizontal}}
    <div class="row" style="margin-top: 20px;">
    <div class="col-sm-6">
    {{/horizontal}}
    <!-- Content -->
    <div class="minilesson_questionheader_contents">
        {{#itemimage}}<div class="mod_minilesson_itemimage_cont"><img src="{{{itemimage}}}" class="mod_minilesson_itemimage"/></div>{{/itemimage}}
        {{#itemaudio}}<div class="mod_minilesson_itemaudio_cont"><audio controls src="{{{itemaudio}}}" class="mod_minilesson_itemaudio"></audio></div>{{/itemaudio}}
        {{#itemvideo}}<div class="mod_minilesson_itemvideo_cont"><video controls src="{{{itemvideo}}}" class="mod_minilesson_itemvideo"></video></div>{{/itemvideo}}
        {{#itemiframe}}<div class="mod_minilesson_itemiframe_cont"><div class="mod_minilesson_iframe_responsive">{{{itemiframe}}}</div></div>{{/itemiframe}}
        {{#itemttsaudio}}<div class="mod_minilesson_itemttsaudio_cont"><audio data-text="{{itemttsaudio}}" data-ttsoption="{{itemttsoption}}" data-voice="{{itemttsaudiovoice}}" controls src="" class="mod_minilesson_itemttsaudio"></audio></div>{{/itemttsaudio}}
        {{^horizontal}} {{#itemtextarea}}<div class="mod_minilesson_itemtextarea_cont"><div class="mod_minilesson_itemtextarea">{{{itemtextarea}}}</div></div>{{/itemtextarea}}{{/horizontal}}
    </div>

    {{#horizontal}}
    </div>
    <div class="col-sm-6">
        {{#itemtextarea}}<div class="mod_minilesson_itemtextarea_cont"><div class="mod_minilesson_itemtextarea">{{{itemtextarea}}}</div></div>{{/itemtextarea}}
    {{/horizontal}}
