{{#str}}reportsmenutoptext, mod_minilesson{{/str}}
<div class="minilesson_reportsmenu_box">
      {{#reports}}
          <div class="minilesson_reportsmenu_item">
              <div class="minilesson_reportsmenu_itembutton">
                    {{{button}}}
              </div>
          </div>
      {{/reports}}
  </div>