{{> mod_minilesson/questionheader}}

<div id="{{uniqueid}}_correctanswer" class="mod_minilesson_spokenandcorrect" style="display: none"></div>
{{> mod_minilesson/ttrecorder}}

{{> mod_minilesson/questionfooter}}