{{> mod_minilesson/questionheader}}
  <iframe src="{{{customtext1}}}&itemid={{id}}" allow="camera;microphone" style="padding:20px;border:1px solid lightgray;width:100%;height:800px" ></iframe>
{{> mod_minilesson/questionfooter}}