.block {
    background: transparent;
    background-size: 80% auto;
    border: 0 solid #ccc;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0;
    box-shadow: none;
    padding: 0 0;
    padding-bottom: 10px;
}

.block .header {
    border-bottom: 0;
    padding: 5px 0;
}




/* block titles */

.block .header .title h2 {
    color: #173140;
    font-size: 1.15em;
    font-weight: 700;
    margin: 0 0;
    padding: 0 0;
    text-transform: none;
}

.block .content {
    font-size: 90%;
    font-weight: normal;
    padding: 20px 0;
}



.block .header .block_action {
    margin: 0 0;
}

.block_login .c1.btn input {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 96%;
}

.block.firstblock {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: [[setting: secondcolor]] url([[pix:theme|firstblock]]) repeat-x top left;
    border-radius: 3px;
    border: 1px solid [[setting: secondcolor]];
    padding: 10px 5px;
    width: auto;
}

.block.firstblock .title h2 {
    padding-left: 10px;
    text-shadow: 1px 1px 1px [[setting: secondcolor]];
}

.block.firstblock .title h2,
.block.firstblock .content,
.block_news_items.firstblock .post .name {
    color: #fff;
}

.block.firstblock .content a,
.block.firstblock .content li a,
.block.firstblock .content table a {
    color: #fff;
    text-decoration: underline;
}

.block.firstblock td.hasevent,
.block.firstblock td.hasevent a,
.block.firstblock td.today,
.block.firstblock td.today a {
    color: #333;
}

.firstblock input[type="submit"],
.firstblock input[type="button"],
.firstblock #searchform_button,
.firstblock a.submit {
    background: [[setting: secondcolor]] !important;
    border: 1px solid rgba(0, 0, 0, .14);
}


/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,
.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0 !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
    padding: 0;
}

.block_tree_box hr {
    background: transparent;
    border: none;
    border-top: 1px solid #eee;
}


/*quiz editing block header */

#page-mod-quiz-edit .questionbankwindow div.header {
    background-color: #eee;
    color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
    color: inherit;
}

.block .block-hider-show,
.block .block-hider-hide {
    margin-top: -10px;
    opacity: 1;
}

.block #login_username,
.block #login_password {
    width: 94%;
}

.block_navigation .block_tree li.item_with_icon>p img,
.block_navigation .block_tree .type_activity>p.tree_item.active_tree_node img,
.block_navigation .block_tree li>p.hasicon img {
    top: 2px;
}

.block_navigation .block_tree .tree_item.branch {
    background-position: 0 3px;
}