.coursebox>.info>h3.name,
.course_category_tree .category>.info .name {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
}

.coursebox .content {
    clear: none;
}

.coursebox {
    border: 0;
    border-radius: 0;
    padding: 0 0;

}

.course-content ul li.section.main {
    border-bottom: 1px dotted #fff;
    padding-top: 5px;
}

.site-topic ul.section,
.course-content ul.section {
    margin: 0 1em;
}

#newdiscussionform {
    text-align: center;
}

#searchforums {
    margin: 5px 0 5px 5px;
}

.courses .coursebox {
    background: transparent !important;
}

.course-content .current {
    background-color: #FAFAFA;
    margin-top: -5px !important;
}

.coursebox.panel {
    margin-bottom: 25px;
    position: relative;
}

.coursebox.panel .panel-body {
    background: #e2e1de !important;
    border: 1px solid #e2e1de !important;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.cimbox {
    display: none;
    height: 125px;
    margin-right: -1px;
    position: relative;
}

.coursebox-content {
    padding: 5px 15px 15px;
    text-align: left;
}

.coursebox-content h3 {
    font-weight: 700;
    margin: 5px 0 20px;
    text-align: left;
}

.coursebox-content h3 a {
    color: #469dcd;
    font-size: 1em;
    font-weight: 700;
}

.coursebox-content .teachers,
.panel-heading {
    display: none;
}

.panel .coursebtn.submit.btn {
    background: #1d9f4a !important;
    box-shadow: -2px 2px 3px #cbcac4;
    clear: both;
    color: #005320;    
    display: block;
    float: right;
    margin: 0 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    
}

.coursebox .summary p {
    font-size: 16px;
}


.coursebox.panel .fa-chevron-right.fa.glyphicon.glyphicon-arrow-right {
    font-size: 10px;
}

.coursebox.panel .ribbon-wrapper-green {
    display: block !important;
}

.coursebox .enrolmenticons {
    display: inline-block;
    float: none;
    padding-left: 10px;
}

.coursebox .enrolmenticons img {
    width: 12px;
}

@media (max-width: 768px) {}

.breadcrumb-button .singlebutton div input {
    font-size: 11px;
    padding: 3px 10px;
}

.section .label .mod-indent-outer,
.section .activity .mod-indent-outer {
    padding-left: 0;
}