.navbar {
    clear: none;
    margin-bottom: 0;
    margin-left: 30px;
    margin-top: 18px;    
    min-width: 40%;
}

.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0 solid #D4D4D4;
    border-radius: 0 0 0 0;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0;
    padding-right: 0;
}

.lalign .navbar-inner {
    margin-left: 0;
}

.navbar-inner .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav {
    float: none;
    text-align: center;
}

.navbar .nav > li > a {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    padding: 15px 18px 15px;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
}

.navbar .nav > li:hover > a {
    background-color: rgba(0,0,0,.3);
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.35) inset, -5px 0 5px -5px rgba(0, 0, 0, 0.35) inset;
    color: #fff;    
    text-decoration: none;

}

.navbar .btn-navbar {
    background-color:[[setting:maincolor]];
    background-image:none !important;
    background-position: top left !important;
    border-radius: 0;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active {
    background-color: #333 !important;
    background-image: none !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    border-bottom: 0 solid #000;
    color: #eee;
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    display: none;
}

.dropdown-menu {
    background: #2d343e;
    border: 0 solid transparent;
    border-bottom: 0 solid [[setting:maincolor]];
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    margin-top: 0;
    padding: 0 0;
}

.nav .dropdown-menu li a {
    border-bottom: 0 solid #EEEEEE;
    color: #469dcd;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    text-align: left;
}

.nav .dropdown-menu li a:hover {
    background: transparent;
    color: #fff;
}

.nav .fa.fa-caret-down {
    color: #469dcd;
    display: block;
    float: right;
    font-size: 25px;
    padding-left: 4px;
}


@media only screen
and (min-width : 1224px) {
/*on hover only for large screens*/
    .dropdown-menu .sub-menu {
        left: 100%;
        margin-top: -1px;
        position: absolute;
        top: 0;
        visibility: hidden;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
/*end on hover hack */
}


.nav-collapse.active {
    background: #fff;
    z-index: 9999;
}

@media (max-width: 979px) {
    .nav-collapse.collapse.active .nav > li > a {
    color: #333 !important;
    }

}

@media (max-width: 1200px) {
    .navbar .nav > li > a {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    padding: 15px 8px 15px;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
}
}