/* Browser Resets */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;

}


/* FlexSlider Necessary Styles
*********************************/

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides>li {
    -webkit-backface-visibility: hidden;
    display: none;
}


/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
    display: block;
    width: 100%;
}

.flex-pauseplay span {
    text-transform: capitalize;
}


/* Clearfix for the .slides element */

.slides:after {
    clear: both;
    content: ".";
    display: block;    
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}


/* No JavaScript Fallback */


/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides>li:first-child {
    display: block;
}


/* FlexSlider Default Theme
*********************************/

.flexslider {
    background: #fff;    
    margin: 0;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}


/* Direction Nav */

.flex-direction-nav a {
    -webkit-transition: all .3s ease;
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 30px;
}

.flex-direction-nav .flex-next {
    background: rgba(255, 255, 255, .9) url([[pix:theme|next]]) no-repeat 50% 50%;
    height: 30px;    
    opacity: .5;
    right: 0;
    top: 46%;
    width: 25px;
}

.flex-direction-nav .flex-prev {
    background: rgba(255, 255, 255, .9) url([[pix:theme|previous]]) no-repeat 50% 50%;
    height: 30px;
    left: 0;
    opacity: .5;
    top: 46%;
    width: 25px;
}

.flexslider:hover .flex-next {
    opacity: 1;
}

.flexslider:hover .flex-prev {
    opacity: 1;
}

.flexslider:hover .flex-next:hover {
    opacity: 1;
}

.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .disabled {
    cursor: default;
    filter: alpha(opacity=30);
    opacity: .3 !important;
}


/* Direction Nav (Blog Slider) */

.image-slider .flex-direction-nav a {
    opacity: 0;
}

.image-slider .flex-direction-nav .flex-next {
    background: #333 url([[pix:theme|s_icon_next_w]]) no-repeat 50% 50%;
    right: 0;
}

.image-slider .flex-direction-nav .flex-prev {
    background: #333 url([[pix:theme|s_icon_prev_w]]) no-repeat 50% 50%;
    left: 0;
}

.image-slider:hover .flex-next {
    opacity: .3;
}

.image-slider:hover .flex-prev {
    opacity: .3;
}


/* Control Nav */

.flex-control-nav {
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.flex-control-nav li {
    *display: inline;
    display: inline-block;
    margin: 0 4px;
    zoom: 1;

}

.flex-control-paging li a {
    -moz-border-radius: 20px;
    -o-border-radius: 20px; 
    -webkit-border-radius: 20px;
    background: #666;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 8px;
    text-indent: -9999px;
    width: 8px;
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static;
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}

.flex-control-thumbs img {
    cursor: pointer;    
    display: block;
    opacity: .7;
    width: 100%;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .active {
    cursor: default;
    opacity: 1;
}


/* Caption style */


/* IE rgba() hack */

.flex-caption {
    background: none;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    zoom: 1;
}

.flex-caption {
    color: #fff;
    margin: 0;
    padding: 55px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.flex-caption h3 {
    background: rgba(0, 114, 180, .7);
    color: #FFF;
    display: inline-block;
    font-size: 5.2em;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 15px;
    padding: 10px 25px;
}

.flex-caption p {
    margin: 0 0 15px;
}

.flex-caption a.submit {
    background: rgba(255, 255, 255, .6) !important;   
    border: 2px solid #000;
    color: #000;
    display: block;
    font-size: 2em;
    margin: 5px auto 0;
    max-width: 25%;
    padding: 15px 0;
    text-transform: uppercase;
}

#main-slider:hover .flex-caption a.submit {
    background: rgba(255, 255, 255, .9);
}

#main-slider {
    margin: 0 0 10px;
}

.slides li {
    position: relative;
}

.flex-control-paging {
    display: none;
}