.que.algebra .answer {
    padding: 0.3em;
    display: inline;
}
.que.algebra .answer input {
    width: 80%;
}
.que.algebra .displayformula {
    display: block;
    min-width: 300px;
    min-height: 70px;
    background: #fff;
    padding: 0.5em;
    margin-top: 1em;
    box-shadow: 0.5em 0.5em 1em #000;
}

/* Editing form. */
body#page-question-type-algebra div[id^=fgroup_id_][id*=answeroptions_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-algebra div[id^=fgroup_id_][id*=answeroptions_] .fgrouplabel label {
    font-weight: bold;
}

body#page-question-type-algebra div[id^=fgroup_id_][id*=answeroptions_] label[for^='id_answer_'] {
    position: absolute;
    left: -10000px;
    font-weight: normal;
    font-size: 1em;
}

body#page-question-type-algebra div[id^=fitem_id_][id*=fraction_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-algebra div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}
