@charset "utf-8";
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "route159";
    src: url([[font:theme|route159-regular-webfont.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "BebasNeueBold";
    src: url([[font:theme|BebasNeueBold_gdi.ttf]]) format("truetype");
}
